:root {
  --Iris: #4d5ae5;
  --Ocean: #404bbf;
  --Navy-Blue: #2e2f42;
  --Slate: #434455;
  --White: #fff;
  --Cloud: #f4f4fd;
  --Cornflower: #e7e9fc;
  --Green: #31d0aa;
}

/* general */

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--Slate);
  background-color: var(--White);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--Iris);
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
/* header */

.header-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-page .container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo:hover,
.header-logo:focus {
  color: var(--Ocean);
}
.header-logo:active {
  text-decoration: underline;
}
.header-logo .accent {
  color: var(--Navy-Blue);
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Navy-Blue);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.current {
  position: relative;
}

.header-link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--Ocean);
}

.header-link:hover,
.contacts-link:hover,
.header-link:focus,
.contacts-link:focus,
.header-link.current {
  color: var(--Ocean);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Slate);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* screen */

.main-screen {
  background-color: var(--Navy-Blue);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/main-back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}
.main-screen-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--White);
  max-width: 496px;
  padding-bottom: 48px;
}
.main-screen-btn {
  background: var(--Iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--White);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-screen-btn:hover,
.main-screen-btn:focus {
  color: var(--White);
  background: var(--Ocean);
}

/* benefits */

.benefits-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.benefits-list-item {
  width: calc((100% - 72px) / 4);
}
.benefits-back {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  width: 100%;
  background-color: var(--Cloud);
  margin-bottom: 8px;
}
.benefit-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--Navy-Blue);
  margin-bottom: 8px;
}

.benefit-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* team */

.team-section {
  background-color: var(--Cloud);
}

.team-list,
.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-list {
  gap: 24px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--Navy-Blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-name,
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--Navy-Blue);
  text-transform: capitalize;
}
.team-bottom {
  padding: 32px 0;
}

.team-name {
  margin-bottom: 8px;
  text-align: center;
}
.team-command {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--White);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Slate);
  text-align: center;
  padding-bottom: 8px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--Iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social .link:hover,
.team-social .link:focus {
  background-color: var(--Ocean);
}

.team-social .social-icon {
  fill: var(--Cloud);
}

/* portfolio */

.portfolio-list {
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Cloud);
  background-color: var(--Iris);
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-name {
  margin-bottom: 8px;
}

.portfolio-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Slate);
}

.portfolio-bottom {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
/* footer */

.footer-page {
  background: var(--Navy-Blue);
  padding: 100px 0;
}
.container.footer-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.footer-content {
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo:active {
  text-decoration: underline;
}
.footer-logo:hover,
.footer-logo:focus {
  color: var(--Ocean);
}
.footer-logo .accent {
  color: var(--Cloud);
}
.footer-descr {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--Cloud);
  max-width: 264px;
}

.footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--White);
  margin-bottom: 16px;
}

.team-social.footer-links {
  gap: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social.footer-links .link:hover,
.team-social.footer-links .link:focus {
  background-color: var(--Green);
}
